.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  padding: 0 30px;
  height: 60px;
  line-height: 60px;
  background: $dark;
  color: $bright;
  .logo {
    width: 60px;
    float: left;
    position: relative;
    top: 8px;
  }
  .ul-list {
    margin: 0 20px;
    li {
      margin: 0 5px;
      &.active {
	border-bottom: 3px solid $bright;
      }
      a {
	display: inline-block;
	padding: 0 20px;
	text-decoration: none;
      }
    }
  }
  .search {
    .search-box {
      padding: 6px 15px;
      border-radius: 20px;
      outline: none;
      border: none;
      background: transparent;
      color: $bright;
      &:focus {
	background: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .share {
    a {
      font-size: 12px;
      color: $default;
    }
  }
}